/*define theme colors*/
:root {
  --discord-blue-accent: #7289DA;
  --discord-full-white: #ffffff;
  --discord-dark-grey: #2C2F33;
  --discord-darker-grey: #23272A;
}

body,html{
  background-color: var(--discord-darker-grey);
  color: var(--discord-full-white);
  
  overflow-x: hidden;
}

