.message-count {
  font-weight: bolder;
  color: var(--discord-blue-accent);
  font-size: 3em;
}

.glow {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

.slide-in-bottom{
    animation: slide-in-bottom-frames 0.3s ease-out;
}

@keyframes slide-in-bottom-frames{
    from {
        opacity:0%;
        filter:blur(10px);
        transform: translateX(-100px)
    }
    to {
        transform: translateX(0px)
    }

}
@keyframes glow {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 18px var(--discord-blue-glow);
  }
}


.channel-tagline {
  margin-left: 50%;
  margin-top: 10%;
  transform: translateX(-50%);
  font-size: xx-large;
}
