.d-sidebar{
    position:absolute;
    top: 0;
    left: 0;
    background-color: var(--discord-dark-grey);
    width:15vw; /*change this to be responsive*/
    height:100vh;
    
}

.d-sidebar-banner{
    height:20vh;
    width:100%;
    max-height:150px;
    padding-top:25%;
    text-align:center;
    background-color:var(--discord-blue-accent);
    margin-bottom:2em;
}

.d-sidebar-item{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    font-size:large;
    font-weight:bold;
    transition: all 0.2s ease-in;
}

.d-sidebar-item:hover{
    background-color:var(--discord-darker-grey);
    cursor:pointer;
}

