.d-sidebar{
    position:absolute;
    z-index:10000;
    top: 0;
    left: 0;
    background-color: var(--discord-dark-grey);
    width:15vw; /*change this to be responsive*/
    height:100vh;    
}

.d-sidebar-banner{
    height:20vh;
    width:100%;
    max-height:150px;
    padding-top:25%;
    text-align:center;
    background-color:var(--discord-blue-accent);
    margin-bottom:2em;
}

.d-sidebar-headingitem{
    font-size:large;
    font-weight:bold;
    padding-top:1em;
}

.d-sidebar-item{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    transition: all 0.2s ease-in;
}

.d-sidebar-item:hover{
    background-color:var(--discord-darker-grey);
    cursor:pointer;
}



.d-sidebar-subitem{
    padding-left:3em;
}

.d-sidebar-link{
    color:var(--discord-full-white);
    text-decoration: none;
}

.d-sidebar-link:hover{
    color:var(--discord-full-white);
    text-decoration: none;
}

.closed-sidebar-btn{
    background-color: transparent;
    border-color: transparent;
    opacity: 60%;
    color:var(--discord-full-white);
    top:0.5em;
    left:1em;
    position: absolute;
    font-size: 1.4em;
    transition: all 0.1s ease-in;
}


.closed-sidebar-btn:hover{
    opacity:100%;
}

.opened-sidebar-btn{
    position: absolute;
    top:0.5em;
    right:1em;
    opacity: 60%;
    transition: all 0.1s ease-in;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.4em;
    color:var(--discord-full-white);
}

.opened-sidebar-btn:hover{
    opacity: 100%;
}